<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>app.macchiato.Macchiato</string>
	</array>
	<key>BundleProgram</key>
	<string>Contents/MacOS/app.macchiato.Macchiato.PowerHelper</string>
	<key>Label</key>
	<string>app.macchiato.Macchiato.PowerHelper</string>
	<key>MachServices</key>
	<dict>
		<key>app.macchiato.Macchiato.PowerHelper</key>
		<true/>
	</dict>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
